.mat-list-base {
  padding: 0;
  margin: 5px 0;
}

.guessing-list {
  margin: 20px 0;
  border-radius: 5px;

  .item-row {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .col {
    width: calc(100% / 3);
    text-align: center;
    flex: 0 0 auto;
  }

  p {
    margin: 0;
  }

  #country-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.red {
  background-color: #ffa0a0;
}

.yellow {
  background-color: #fffca0;
}

.green {
  background-color: #c4ffa0;
}

p,
.mat-icon {
  color: var(--dark-grey) !important;
}
