<div class="wrapper">
  <div class="title">
    <h2>{{ "maps.settings.settings" | transloco }}</h2>
    <button mat-icon-button (click)="closePage()" [attr.aria-label]="'maps.settings.closePage' | transloco">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <lib-settings></lib-settings>

  <div class="setting">
    <p>{{ "maps.settings.filterCountries" | transloco }}</p>
    <form [formGroup]="form">
      <mat-form-field>
        <mat-select formControlName="continent">
          <mat-option *ngFor="let continent of continents" [value]="continent" [disabled]="continent === 'Antarctica'">
            {{continent}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

</div>