<div class="wrapper">

  <div class="title">
    <h2>{{ "maps.howToPlay.howToPlay" | transloco }}</h2>
    <button mat-icon-button (click)="closePage()" [attr.aria-label]="'maps.howToPlay.closePage' | transloco">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <p>{{ "maps.howToPlay.instructions" | transloco }}</p>
  <mat-divider></mat-divider>
  <h3>{{ "maps.howToPlay.example" | transloco }}</h3>

  <ng-template
    *ngTemplateOutlet="exampleGuess; context: {color: 'red', country: 'AUSTRALIA', km: 13839, direction: 'transform: rotate(305deg)'}">
  </ng-template>
  <p>{{ "maps.howToPlay.exampleText1" | transloco }}</p>

  <ng-template
    *ngTemplateOutlet="exampleGuess; context: {color: 'yellow', country: 'AFGHANISTAN', km: 4353, direction: 'transform: rotate(295deg)'}">
  </ng-template>
  <p>{{ "maps.howToPlay.exampleText2" | transloco }}</p>

  <ng-template
    *ngTemplateOutlet="exampleGuess;context: { color: 'green', country: 'ALBANIA', km: 670, direction: 'transform: rotate(355deg)'}">
  </ng-template>
  <p>{{ "maps.howToPlay.exampleText3" | transloco }}</p>

  <div class="example-guess">
    <mat-list role="list" ngClass="green">
      <mat-list-item role="listitem">
        <div class="item-row">
          <div class="col">
            <p id="country-name">HUNGARY</p>
          </div>
          <div class="col">
            <mat-icon>celebration</mat-icon>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
  <p>{{ "maps.howToPlay.exampleText4" | transloco }}</p>
  <mat-divider></mat-divider>
  <p class="credits">
    <a href="https://github.com/djaiss/mapsicon" target="_blank">Country images by djaiss</a>
    Illustration by <a href="https://icons8.com/illustrations/author/zD2oqC8lLBBA">Icons 8</a> from <a
      href="https://icons8.com/illustrations">Ouch!</a>
  </p>
</div>

<ng-template #exampleGuess let-backgroundColor="color" let-country="country" let-km="km" let-direction="direction">
  <div class="example-guess">
    <mat-list role="list" [ngClass]="backgroundColor">
      <mat-list-item role="listitem">
        <div class="item-row">
          <div class="col">
            <p id="country-name">{{ country }}</p>
          </div>
          <div class="col">
            <p>{{ km }}KM</p>
          </div>
          <div class="col">
            <mat-icon [style]="direction">north</mat-icon>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</ng-template>