.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: space-between;
}

h3,
.credits {
  margin-top: 12px;
}

.mat-list-base {
  padding: 0;
  margin: 5px 0;
}

.example-guess {
  margin-bottom: 5px;
  border-radius: 5px;

  .item-row {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .col {
    width: calc(100% / 3);
    text-align: center;
    flex: 0 0 auto;
  }

  p {
    margin: 0;
  }

  #country-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  p,
  .mat-icon {
    color: var(--light-primary) !important;
  }
}

.red {
  background-color: #ffa0a0;
}

.yellow {
  background-color: #fffca0;
}

.green {
  background-color: #c4ffa0;
}