/* You can add global styles to this file, and also import other style files */
@import "./theme/app-theme.scss";

html,
body {
  min-height: 100% !important;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.wrapper {
  width: 80vw;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
}

body.light-theme .mat-button {
  color: var(--white);
}

body.dark-theme .mat-button {
  color: var(--dark-grey);
}
