<div class="container">
  <ng-container *ngIf="randomCountry">
    <div class="content">
      <!-- Country image -->
      <img [src]="sanitize('data:image/jpg;base64, ' + arrayBufferToBase64(randomCountry.countryimage?.data))"> 

      <!-- Guessing form -->
      <div class="form">
        <form [formGroup]="form">
          <mat-form-field>
            <mat-label>Enter country</mat-label>
            <input matInput type="text" formControlName="country" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.country | uppercase">
                {{ option.country | uppercase }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button mat-raised-button type="submit" (click)="guessSubmit()" [disabled]="guesses.length == 5 || (currentGuess | lowercase) == (randomCountry.country | lowercase)">Guess</button>
        </form>

       <!-- Answers -->
       <div  class="guessing-list">
        <mat-list role="list" *ngFor="let guess of guesses">
          <mat-list-item role="listitem">
            <div class="item-row">
              <div id="country-name">
                <p>{{ guess.country | uppercase }}</p>
              </div>
              
              <div id="distance">
                <p>{{ this.getDistanceFromLatLonInKm(guess.location[0], guess.location[1], randomCountry.location[0], randomCountry.location[1]) }}km</p>
              </div>
              
              <div id="direction">
                <mat-icon [ngStyle]="calculateIconDirection(guess.location[0], guess.location[1])">south</mat-icon>
              </div> 
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
       </div>
    </div>

      <!-- Play again button -->
      <div class="play-again-btn" *ngIf="guesses.length == 5 || (currentGuess | lowercase) == (randomCountry.country | lowercase)">
        <button mat-raised-button (click)="playAgain()">Play again</button>
      </div>
    </div>
 
  </ng-container>
</div>
