/* You can add global styles to this file, and also import other style files */
@import "./assets/theme/app-theme.scss";

html,
body {
  min-height: 100% !important;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--dark-gray);
  background-color: var(--white);
  @include angular-material-theme($app-light-theme);
}

body.dark-theme {
  color: var(--white);
  background-color: var(--dark-gray);
  @include angular-material-theme($app-dark-theme);
}
