@import "~@angular/material/theming";
@import "./material-design-color.scss";

:root {
  --white: #dfe6e9;
  --dark-grey: #2d3436;
}

$app-light-primary: mat-palette($light-theme-primary);
$app-light-accent: mat-palette($light-theme-accent);
$app-light-warn: mat-palette($light-theme-warn);
$app-light-theme: mat-light-theme(
  $app-light-primary,
  $app-light-accent,
  $app-light-warn
);

body.light-theme {
  color: var(--dark-grey);
  background-color: var(--white);
  @include angular-material-theme($app-light-theme);

  img {
    filter: invert(15%) sepia(2%) saturate(2908%) hue-rotate(147deg)
      brightness(100%) contrast(85%);
  }
}

$app-dark-primary: mat-palette($dark-theme-primary);
$app-dark-accent: mat-palette($dark-theme-accent);
$app-dark-warn: mat-palette($dark-theme-warn);
$app-dark-theme: mat-dark-theme(
  $app-dark-primary,
  $app-dark-accent,
  $app-dark-warn
);

body.dark-theme {
  color: var(--white);
  background-color: var(--dark-grey);
  @include angular-material-theme($app-dark-theme);

  img {
    filter: invert(94%) sepia(6%) saturate(172%) hue-rotate(153deg)
      brightness(101%) contrast(87%);
  }
}
