$light-theme-primary: (
  50: #e6e7e7,
  100: #c0c2c3,
  200: #969a9b,
  300: #6c7172,
  400: #4d5254,
  500: #2d3436,
  600: #282f30,
  700: #222729,
  800: #1c2122,
  900: #111516,
  A100: #5cd6ff,
  A200: #29c9ff,
  A400: #00b8f5,
  A700: #00a4db,
  contrast: (
    50: #2d3436,
    100: #2d3436,
    200: #2d3436,
    300: #dfe6e9,
    400: #dfe6e9,
    500: #dfe6e9,
    600: #dfe6e9,
    700: #dfe6e9,
    800: #dfe6e9,
    900: #dfe6e9,
    A100: #2d3436,
    A200: #2d3436,
    A400: #2d3436,
    A700: #dfe6e9,
  ),
);

$light-theme-accent: (
  50: #e2e5ee,
  100: #b7bed4,
  200: #8893b7,
  300: #58679a,
  400: #344784,
  500: #10266e,
  600: #0e2266,
  700: #0c1c5b,
  800: #091751,
  900: #050d3f,
  A100: #7581ff,
  A200: #4252ff,
  A400: #0f23ff,
  A700: #0014f5,
  contrast: (
    50: #2d3436,
    100: #2d3436,
    200: #2d3436,
    300: #dfe6e9,
    400: #dfe6e9,
    500: #dfe6e9,
    600: #dfe6e9,
    700: #dfe6e9,
    800: #dfe6e9,
    900: #dfe6e9,
    A100: #2d3436,
    A200: #dfe6e9,
    A400: #dfe6e9,
    A700: #dfe6e9,
  ),
);

$light-theme-warn: (
  50: #f7e1e0,
  100: #ebb3b3,
  200: #dd8180,
  300: #cf4f4d,
  400: #c52926,
  500: #bb0300,
  600: #b50300,
  700: #ac0200,
  800: #a40200,
  900: #960100,
  A100: #ffc1c1,
  A200: #ff8e8e,
  A400: #ff5b5b,
  A700: #ff4141,
  contrast: (
    50: #2d3436,
    100: #2d3436,
    200: #2d3436,
    300: #dfe6e9,
    400: #dfe6e9,
    500: #dfe6e9,
    600: #dfe6e9,
    700: #dfe6e9,
    800: #dfe6e9,
    900: #dfe6e9,
    A100: #2d3436,
    A200: #2d3436,
    A400: #2d3436,
    A700: #dfe6e9,
  ),
);

$dark-theme-primary: (
  50: #fbfcfc,
  100: #f5f8f8,
  200: #eff3f4,
  300: #e9eef0,
  400: #e4eaec,
  500: #dfe6e9,
  600: #dbe3e6,
  700: #d7dfe3,
  800: #d2dbdf,
  900: #cad5d9,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #2d3436,
    100: #2d3436,
    200: #2d3436,
    300: #2d3436,
    400: #2d3436,
    500: #2d3436,
    600: #2d3436,
    700: #2d3436,
    800: #2d3436,
    900: #2d3436,
    A100: #2d3436,
    A200: #2d3436,
    A400: #2d3436,
    A700: #2d3436,
  ),
);

$dark-theme-accent: (
  50: #e2e5ee,
  100: #b7bed4,
  200: #8893b7,
  300: #58679a,
  400: #344784,
  500: #10266e,
  600: #0e2266,
  700: #0c1c5b,
  800: #091751,
  900: #050d3f,
  A100: #7581ff,
  A200: #4252ff,
  A400: #0f23ff,
  A700: #0014f5,
  contrast: (
    50: #2d3436,
    100: #2d3436,
    200: #2d3436,
    300: #dfe6e9,
    400: #dfe6e9,
    500: #dfe6e9,
    600: #dfe6e9,
    700: #dfe6e9,
    800: #dfe6e9,
    900: #dfe6e9,
    A100: #2d3436,
    A200: #dfe6e9,
    A400: #dfe6e9,
    A700: #dfe6e9,
  ),
);

$dark-theme-warn: (
  50: #f7e1e0,
  100: #ebb3b3,
  200: #dd8180,
  300: #cf4f4d,
  400: #c52926,
  500: #bb0300,
  600: #b50300,
  700: #ac0200,
  800: #a40200,
  900: #960100,
  A100: #ffc1c1,
  A200: #ff8e8e,
  A400: #ff5b5b,
  A700: #ff4141,
  contrast: (
    50: #2d3436,
    100: #2d3436,
    200: #2d3436,
    300: #dfe6e9,
    400: #dfe6e9,
    500: #dfe6e9,
    600: #dfe6e9,
    700: #dfe6e9,
    800: #dfe6e9,
    900: #dfe6e9,
    A100: #2d3436,
    A200: #2d3436,
    A400: #2d3436,
    A700: #dfe6e9,
  ),
);
